* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  font-family: Montserrat, Poppins;
  font-weight: 500;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(-50deg, #6c010157, #8a0202), url(Pics/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont {
  background: #ebe9e90b;
  backdrop-filter: blur(0.5rem);
  border: 0.5px #5858581f solid;
  /*   border: 2px #fff solid;
 */
  width: 90%;
  height: 90%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cont nav {
  /*   border: solid #fff 2px;
 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0% 3%;
  position: absolute;
  top: 20px;
}
.logo {
  width: 50px;
}
.nav-img {
  width: 25px;
  margin-right: 10px;
  margin-left: 10px;
  transition: .5s ease;
}
.nav-img:hover{
  width:20px ;
}
.cont nav ul {
  flex: 1;
  text-align: right;
}
.cont nav ul li {
  display: inline-block;
  border-radius: 20px;
}
.cont nav ul li a {
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  transition: .5s ease;
}
nav ul li a:hover{
  color: #ffbebe;
  font-size: 14px;
}


.side {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  border-radius: 18px 0px 0px 18px;
  background-color: #6701018a;
  /*   border: 2px #ffc400 solid;
 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shoe-circle {
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  aspect-ratio: 1;
  background-color: #fff;
  /*   border: #ffc400 solid 2px;
 */
 transition: ease .5s;
  border-radius: 200px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 100px #ffffff67;
}
.shoe-circle:hover{
  box-shadow: 0 0 5px #fff, 
  0 0 10px #fff, 0 0 100px #ffffff67, 0 0 120px #ffffff38;
  width: 310px;
  height: 310px;


}
.shoe-circle img {
  aspect-ratio: 1;
  width: 80%;
}
.soc-box {
  position: absolute;
  /*   background-color: #fff;
 */
  top: 20%;
  left: 6%;
  bottom: 10%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.l1 {
  width: 2px;
  height: 150px;
  background-color: #ffffff;
}

.soc-box img{
 width: 25px;
}

.see {
  color: transparent;
  background-image: linear-gradient(10deg, #ffffff00, #3a3a3a14),
    url(Pics/5.jpg);
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.2px #ffffff;
  letter-spacing: 4px;
  margin-top: 40px;
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding: 2px 40px;
  border-radius: 30px;
  box-shadow: 0 0 2px #fff;
  transition: 0.5s ease;
}
.see:hover {
  box-shadow:  0 0 5px #fff, 0 0 10px #fff;
  font-size: 28px;
}
.see::before {
  content: "";
  background: url(icons/1011.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  width: 0%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -37%;
  transform: translateX(-50%);
  transition: 0.5s ease;
  animation: nike 4s linear infinite;
}

.see:hover::before {
  width: 100%;
}
@keyframes nike {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg) translateX(5%);
  }
  100% {
    transform: rotate(0deg);
  }
}

.side2 {
  z-index: -1;
  padding: 0 2%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  border-radius: 0px 18px 18px 0px;
/*   background-color: #95959500;
  border: 2px #ffc400 solid;
 */  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading{
  color: transparent;
  background-image: linear-gradient(10deg, #ffffff00, #3a3a3a00),
    url(Pics/5.jpg);
  background-size: contain;
  background-position: top;
  -webkit-background-clip: text;
  -webkit-text-stroke: .2px #ffffff;
  font-size: 6.5rem;
  z-index: 1;
}
.sub{
  font-weight:200;
  color: #fff;
  font-size: px;
/*   letter-spacing: 25px;
 */  animation: sub linear infinite 10s;
 margin-top: 20px;
}
@keyframes sub{
  0%{
    letter-spacing: 5px;
  }
  50%{
    letter-spacing: 18px;
  }
  100%{
    letter-spacing: 5px;
  }
}

.sub2{
  margin-top: 20px;
  text-align: center;
  color: #fff;
  width: 460px;
  line-height: 25px;
}
.display{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
  height: 120px;
/*   border: #fff solid;
 */  width: 90%;
}
.display img{
  width: 140px;
  transition: .5s ease;
}
.display img:hover{
  width: 200px;
}
.buy{
  padding: 2px 10px;
  text-decoration: none;
  color: #fff;

  color: transparent;
  background-image: linear-gradient(10deg, #ffffff00, #3a3a3a14),
    url(Pics/5.jpg);
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.2px #ffffff;
  letter-spacing: 4px;
  margin-top: px;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding: 2px 40px;
  border-radius: 30px;
  box-shadow: 0 0 2px #fff;
  transition: 0.5s ease;
}

.buy:hover{
  font-size: 25px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff;

}

.buy::before {
  content: "";
  background: url(icons/1011.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  width: 0%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -37%;
  transform: translateX(-50%);
  transition: 0.5s ease;
  animation: buy 4s linear infinite;
}

.buy:hover::before {
  width: 100%;
}
@keyframes buy {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg) translateX(5%);
  }
  100% {
    transform: rotate(0deg);
  }
}
